<h1>Welcome, <%= current_student.name %></h1>
<div class="my_information">
  <p>Grade: <%= current_student.grade %></p>
</div>
<div class="my_courses">
  <% current_student.courses.each do |course| %>
    <ul>
      <p>Course: <%= course.title %></p>
      <p>Teacher: <%= course.teacher %></p>
      <p>Location: <%= course.location %></p>
    </ul>
  <% end %>
</div>
<%= link_to "Edit", edit_student_path(current_student) %>
<%= link_to "Delete Account", student_path(current_student), method: :delete %>
<%= link_to "Log Out",  logout_student_path %>
