<h1>Welcome, <%= current_student.name %></h1>
<div class="my_information">
  <p>Grade: <%= current_student.grade %></p>
</div>
<div class="my_courses">
  <% current_student.courses.each do |course| %>
    <ul "<%= course.title %>">
      <p>Course: <%= course.title %></p>
      <p>Teacher: <%= course.teacher.name %></p>
      <p>Location: <%= course.location %></p>
      <h3>Assignments</h3>
      <div class="my_assignments">
        <% course.assignments.each do |assignment| %>
          <p><%= assignment.title %>: <%= assignment.point_value %> Points</p>
        <% end %>
      </div>
    </ul>
  <% end %>
</div>

<%= link_to "Edit", edit_student_path(current_student) %>
<%= link_to "Delete Account", student_path(current_student), method: :delete %>
<%= link_to "Log Out",  logout_student_path %>
