<h3>Sign up for a Teacher Account:</h3>

<%= form_for(@teacher) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :department %>
  <%= f.text_field :department %><br />

  <%= f.label :username %>
  <%= f.text_field :username %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br />

  <%= f.submit "Create Account" %>
<% end %>
