<h1>Course: <%= @course.title %></h1>
<nav class='course_info'>
  <p>Subject: <%= @course.subject.name %></p>
  <p>Description: <%= @course.description %></p>
  <p>Location: <%= @course.location %></p>
  <p>Teacher: <%= @course.teacher.name %></p>
</nav>

<%= link_to "Edit", edit_course_path(@course) %>
