<!DOCTYPE html>
<html>
  <head>
    <title>VioletTeacher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% flash.each do |tag, message| %>
    <div class="flash_<%= tag %>">
      <%= message %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
